<html><head>
<title>Estadio Tecnologico</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Estadio tecnologico" />
<meta name="copyright" content="Ada software" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/kickstart.css" media="all" />                  
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}style.css" media="all" />                          
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/kickstart.js"></script>                                  
<style type="text/css">
body,td,th {
	font-family: Arimo, arial, verdana, sans-serif;
}
body {
	margin-left: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.vs {
	font-size: 1cm;
}
tituloevento {
	font-size: 1em;
}
.callout.callout-top.clearfix .grid .col_6 .grid .grid .odd.last .kickoff .home-logo div {
	font-size: 1.3em;
}
</style>
<script type="text/javascript">
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>
</head><body>


<nav class="navbar">
  <div align="left"><img src="{{MEDIA_URL}}logo-150x1501.png" width="130" height="130"><a class="hide-phone" id="logo" href="/login/"><i class="icon-angle-right"></i> L<span>ogin</span></a>
    <ul>
      <!-- <li>  -->
       <!-- <a href=""><span>I</span>NFORMACION</a>      </li>-->
      <li>
        <a href="/cliente/"><span>C</span>REA UNA CUENTA</a>      </li>
      
       <!-- <a href="">B</a></li>-->
    </ul>
  </div>
</nav>

<div class="callout callout-top clearfix">

	<div class="grid">
	  <div class="col_6">
		<i class=""></i><br />
		
         <div class="grid">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <ul class="grid">
      <li class="odd  last">
        <div class="kickoff">
              <div class="home-logo">
                <div align="center">APERTURA 2014</div>
              </div>
              <div class="away-logo">
                <div align="center"><a href="http://alebrijesfc.com.mx/blog/match/1839/"></a><img src="{{MEDIA_URL}}alebrijes.png" width="50" height="50" align="left"><img src="{{MEDIA_URL}}{{apps.partidos.models.partido.visitante}}.png" width="50" height="50" align="right"><span class="vs">VS</span></div>
              </div>
            </div>
            <div class="away-logo">
              <div align="center"><a href=></a>______</div>
            </div>
            <div class="away-logo">
              <div align="center"><a href=></a>Alebrijes de Oaxaca VS Coras de Tepic</div>
            </div>
              <div class="away-logo">
                <div align="center"><a href=></a>26 de octubre</div>
              </div>
                 <div class="away-logo">
                   <div align="center"><a href=></a></div>
                   <time>
                     <div align="center">7:00 pm</div>
                   </time>
                 </div>
      </li>
      </ul>
      <p>&nbsp;</p>
      <ul class="grid">
        <li class="odd  last">
          <div class="away-logo">
            <div align="center"><a href=></a>ELIGE TU ASIENTO </div>
            </div>
          <form name="form1" method="post" action="">
            <p>
              <label for="ZONA 2"></label>
              </p>
            </form>
          <div class="away-logo">
            <div align="left"><a href=></a>ZONA:       
              <select name="ZONA" id="ZONA">
                <option value="Z1">GENERAL</option>
                <option value="Z2">GOL NORTE</option>
                <option value="Z3">GOL SUR</option>                      
                </select>
              <form name="form1" method="post" action="">
                <p>
                  <label for="ZONA "></label>
                  </p>
                </form>
              </div>
            </div>
          <div class="away-logo">
            <div align="left"><a href=></a>UBICACION: 
              <select name="UBICACION" id="UBICACION">
                <option value="Z1">ALTA</option>
                <option value="Z2">BAJA</option>                    
                </select>
              <form name="form2" method="post" action="">
                <p>
                  <label for="UBICACION "></label>
                  </p>
                </form> 
              </div>
            </div>
          <div class="away-logo">
            <div align="left"><a href=></a>CANTIDAD:  
              <select name="CANTIDAD" id="CANTIDAD">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>   
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>     
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>   
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>  
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>                
                </select>
              <form name="form3" method="post" action="">
                <p>
                  <label for="CANTIDAD "></label>
                  </p>
                </form> 
              
              </div>
            </div>
          <div class="away-logo">
            <div align="left"><a href=></a>PRECIO: </div>
            </div>
          
          
          <h4 class="teams ellipsis"> <a href="http://alebrijesfc.com.mx/blog/match/1839/"></a> </h4>
          <form name="form1" method="post" action="">
            <label>
              <input type="submit" name="BOTON" id="BOTON" value="ACEPTAR">
              </label>
            </form>
        </li>
      </ul>
           <p>&nbsp;</p>
  </div>
	  </div>
		
	  <div class="col_6">
		<p><i class=""></i></p>
		<p>&nbsp;</p>
		<p><img src="{{MEDIA_URL}}mapa.png" width="497" height="417"></p>
	  </div><br />
		
		</span><br />
		<p>&nbsp;</p> 
	</div>
</div>


<div class="clear"></div>
<div id="footer">
&copy; Copyright 2014 All Rights Reserved.Ada Software </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1641401-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body></html>
