<html><head>
<title>Crear cuenta</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="Estadio tecnologico" />
<meta name="copyright" content="Ada software" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/kickstart.css" media="all" />                  
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}style.css" media="all" />                          
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/kickstart.js"></script>                                  
<style type="text/css">
body,td,th {
	font-family: Arimo, arial, verdana, sans-serif;
}
body {
	margin-left: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.vs {
	font-size: 1cm;
}
tituloevento {
	font-size: 1em;
}
.callout.callout-top.clearfix .grid .col_6 .grid .grid .odd.last .kickoff .home-logo div {
	font-size: 1.3em;
}
.none table tr td table tr td div {
	font-size: 2em;
}
#evento div ul li div {
	color: #F46D2B;
}
</style>
<script type="text/javascript">
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>
</head><body>


<nav class="navbar">
  <div align="left">
    <table width="200" border="1">
      <tr>
        <td height="96"><img src="{{MEDIA_URL}}logo-150x1501.png" width="76" height="77" align="left"><p align="center">ESTADIO TECNOLOGICO</p>
        <p align="center">INICIAR SESION </tr>
    </table>
</div>
</nav>

<div>
<div align="center">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
<form  method= "post" class="evento" action="#" id="evento" runat="server">  {% csrf_token %}
        <div>  
            <ul>  
                <p>  
                    
                      {% if user.is_authenticated %}
                     <p align="center">BIENVENIDO
                      
                    <p align="center"> 
                      {% for p in perfil %}
                      {{p.telefono}}
                      {% endfor %}
                   
                      <p align="center">
                       {{ user.username }} </p>


                       {% if user.username = 'josue'%}
                        <p align="center">
                        <a href="/PANEL/">PANEL DE CONTROL</a>  </p>

                      {% endif %}

                      {% if user.username = 'porra'%}
                        <p align="center">
                        <a href="/controla/aficionados/">ENTRAR</a>  </p>

                      {% endif %}

                      {% if user.username = 'taquilla'%}
                        <p align="center">
                        <a href="/venta/taquilla/">ENTRAR</a>  </p>

                      {% endif %}

                      <p align="center"> Fecha de registro:
                      {{user.date_joined}}<p/>

                      <p align="center"> 
                      {{user.get_profile}}

                      <p align="center"> Ultimo inicio de sesion:
                      {{user.last_login}}<p/>

                      <p align="center">
                      {{ user_profile.home_address }}
                    

                      <a href="/cerrar/">salir</a>  
                      {% else %}
                   
                    </p>



                    <p align="center"> LOGIN </p> 
                    </label>  
                    <div align="center"> 
                        <input type="text" name= "username" required class="col_4" placeholder="NOMBRE DE USUARIO" />  
                    </div>
             
                  </label>  
                    <div align="center">
                      <input type="password" name= "password" required class="col_4" placeholder="CONTRASEÑA" />  
                     
                    </div>
          



                  
            </ul>
            <p>&nbsp;</p>
            <ul>  
              
              
              
       
                <div align="center">
                  <input type="submit" value="ENTRAR">  
                  

                  {% endif %}
                  </div>


             
            </ul>  
        </div>  
    </form> 

</div>
<div id="footer">
&copy; Copyright 2014 All Rights Reserved.Ada Software </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1641401-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body></html>
